---
---

@import "{{ site.theme }}";

.page-menu {
	ul {
		list-style-type: none;
		h1 {
			margin-left: 4em;
			font-size: 1.5em;
			font-weight: normal;
			color: #159957;
		}
	}
}

@media screen and (min-width: 96em) { .page-menu { float: left; } }
@media screen and (max-width: 96em) { .page-menu { ul { display: flex; } h1 {display: none; }} }
