---
---

@import "{{ site.theme }}";

#page-menu {
	h1 {
		text-align: center;
		font-size: 1.5em;
		font-weight: normal;
		color: #159957;
	};
	ul {
		list-style-type: none;
		li {
			margin: 0em 2em;
		};
	}
}

@media screen and (min-width: 96em) { #page-menu { float: left; } }
@media screen and (max-width: 96em) { #page-menu { ul { display: flex; }; h1 { display: none; } } }
@media screen and (max-width: 42em) { #page-menu { ul { display: block; }; h1 { display: block; } } }
